data/json/*
data/mels/*
data/stored_feats/*
data/stored_feats2/*
data/holdout_feats/*
data/temp/*
data/misc/*
data/prediction_maps/*
data/old_prediction_maps/*
models/*
sample_maps/*
*/__pycache__
__pycache__